<% wrap_layout :layout do %>
  <div class="page-banner">
    <p><strong>The MHCLG Way and its content is intended for internal use by the MHCLG community.</strong></p>
  </div>

  <%= yield %>
<% end %>
