<ul>
  <li><%= link_to 'Make data-driven decisions with Service Level Objectives (SLOs)', '/standards/sre/slo.html' %></li>
  <li><%= link_to 'Run a Service Level Indicator (SLI) workshop', '/standards/sre/slis.html' %></li>
</ul>
