<ul>
  <li><a href="/standards/logging.html">Store and query logs</a></li>
  <li><a href="/standards/monitoring.html">How to monitor your service</a></li>
  <li><a href="/standards/alerting.html">How to manage alerts</a></li>
  <li>
    <a href="/standards/sre/overview.html">Following the Google SRE playbook</a>
    <%= partial '/partials/_nav-sre' %>
  </li>
</ul>
