<ul>
  <li><%= link_to 'Store and query logs', '/standards/logging.html' %></li>
  <li><%= link_to 'How to monitor your service', '/standards/monitoring.html' %></li>
  <li><%= link_to 'How to manage alerts', '/standards/alerting.html' %></li>
  <li>
    <a href="/standards/sre/overview.html">Following the Google SRE playbook</a>
    <%= partial '/partials/_nav-sre' %>
  </li>
</ul>
