<ul>
  <li><a href="/standards/sre/slo.html">Make data-driven decisions with Service Level Objectives (SLOs)</a></li>
  <li><a href="/standards/sre/slis.html">Run a Service Level Indicator (SLI) workshop</a></li>
</ul>